@model  FinalProject.BLL.ViewModels.instructorQualificationPhoneViewModel
@{
    ViewBag.Title = "تعديل بيانات المدرب";
}

<form id="myForm">
    <div class="container">
        <div class="row">
            <div class="col">
                @Html.HiddenFor(x=>x.instructor_id)
            </div>
        </div>
        <div class="row">
            <div class="col-2"><label>اسم المدرب</label></div>
            <div class="col-4">@Html.TextBoxFor(x => x.instructor_name, new { @class = "form-control" })</div>
        </div>
        <div class="row">
            <div class="col-2"><label>الوحدة التابع لها</label></div>
            <div class="col-4">@Html.TextBoxFor(x => x.NameOf_ItsUnit, new { @class = "form-control" })</div>
        </div>
        <div class="row">
            <div class="col-2"><label>المواضيع</label></div>
            <div class="col-4">@Html.TextAreaFor(x => x.TrainningTopic, new { @class = "form-control" })</div>
        </div>
        <div class="row">
            <div class="col-2"><label>المسمى الوظيفى</label></div>
            <div class="col-4">@Html.TextBoxFor(x => x.Current_JobTitle, new { @class = "form-control" })</div>
        </div>
        <div class="row">
            <div class="col-2"><label>التليفون</label></div>
            <div class="col-4">@Html.TextBoxFor(x => x.phone, new { @class = "form-control" })</div>
        </div>
        <div> <input type="reset" value="اضافة" id="btnSubmit" class="btn btn-primary" /></div>
    </div>
</form>
<div id="divLoader" style="display:none">
    Loading ...
</div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            $("#divLoader").show();
            var data = $("#myForm").serialize();
            $.ajax({
                type: "POST",
                data: data,
                url: "/Instructor/Edit",
                success: function (response) {
                    $("#divLoader").hide();
                    alert("data inserted");
                }

            })
        })


    })


</script>
